* {
    margin: 0px;
    padding:0px;
}

header {
    background-color: white;
    min-height: 60px;
}

#sidebarleft {
    background-color: darkslateblue;
    min-height: 350px;
    float: left;
    width: 200px;
}

#sidebarright {
    background-color: steelblue;
    min-height: 350px;
    float: right;
    width: 200px;


}

#maincontent {
    background-color: darkgray;
    min-height: 350px;
    margin-left: 200px;
    margin-right: 200px;
    
}

footer {
    background-color: slateblue;
    min-height: 60px;
}
