* {
    margin: 0px;
    padding:0px;
}

header {
    background-color:lightgrey;
    min-height: 60px;
}

p {
    text-align: center;
    padding: 250px;
    font-size: larger;
}

#sidebarleft {
    background-color:rgb(17, 75, 69);
    min-height: 672px;
    float: left;
    width: 200px;
}   

#sidebarright {
    background-color: rgb(17, 75, 69);
    min-height: 672px;
    float: right;
    width: 200px;


}

#maincontent {
    background-color: rgb(87, 85, 85);
    min-height: 599px;
    margin-left: 200px;
    margin-right: 200px;
    
}

footer {
    background-color:lightgray;
    min-height: 40px;
    
}
